<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>CompletionClaimService-${instance}.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{40} -
				%msg%n</Pattern>
		</encoder>



		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>HiosAssisterAgreementStatus-${instance}-%d{yyyy-MM-dd}.%i.log.zip
			</fileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>20</MaxIndex>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	
	<!-- no db yet <appender name="DB" class="ch.qos.logback.classic.db.DBAppender"> 
		<connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource"> 
		<driverClass>org.hsqldb.jdbcDriver</driverClass> <url>jdbc:hsqldb:hsql://localhost/testdb</url> 
		<user>sa</user> <password></password> </connectionSource> </appender> -->
	
	
	<!-- console appender -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</encoder>

	</appender>

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>